/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black; 
   text-decoration: underline;

}


/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  display: flex;
  align-items: center;
}

.bento-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height : 16px;
    width : 16px;
  }
  
  .bento-dot {
    width : 4px;
    height: 4px;
    border-radius: 999px;
    background:#000000;
    overflow: hidden;
  }

   button {
    height: 35px;
    width: 120px;
    background-color: #2b7de9;
    color: white;
    border: none;
    border-radius: 5px;
  }
main{
    width: 50%;
    margin:auto;
}
 svg {
	display: block;
	height: 80%;
	width: 15%;
    color:#9aa0a6;
}

  #searchbar{
      border:2px solid #9aa0a6;;
      height: 40px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      color:#9aa0a6;

  }

  #searchbar :hover{
      box-shadow:0 1px 1px lightgray;
  }

  #searchinput{
      border:none;
  }
#centerimg{
    width: 50%;
    margin: auto;
}
  #twobutton{
      width: 50%;
      margin: auto;
      display: flex;
  }

  #twobutton > button {
      background-color: #f8f9fa;
      margin:5px;
      color:black;
      width:150px;
      border: 1px solid transparent;
  }

  button:hover{
      box-shadow:0 1px 1px #f8f9fa ;
  }

  footer{
      width: 100%;
      
      color:rgba(0,0,0,.54);
      background-color: #f8f9fa;
      position: absolute;
      bottom: 0px;


  }

  .france{
      padding: 15px 30px;
  }

footer a{
    text-decoration: none;
    margin-right: 15px;
    color:rgba(0,0,0,.54);

}